# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]

jobs:
  release:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Clone original repo
      run: |
        export TARGET_VERSION=$(cat target-version.txt)
        git clone https://github.com/freshworks/freshchat-ios.git
        cd freshchat-ios && git checkout $TARGET_VERSION
    - name: Create zip
      run: |
        cd freshchat-ios
        zip -r ../FreshchatSDK.xcframework.zip FreshchatSDK.xcframework
    - name: Compute checksum
      run: swift package compute-checksum FreshchatSDK.xcframework.zip > checksum.txt
    - name: Release new version
      run: |
        export TARGET_VERSION=$(cat target-version.txt)
        export CHECKSUM=$(cat checksum.txt)
        sed -Ei '' "s/checksum: \".+\"/checksum: \"$CHECKSUM\"/g" Package.swift
        git config --global user.name "github.ci"
        git config --global user.email "github.ci@github"
        git add -A
        git commit -m "Update Package.swift to new release ($TARGET_VERSION)"
        git tag $TARGET_VERSION
        git push && git push --tags
